@media screen and (max-width: 768px) {
    #package-info #title-list {
        padding: 0;
    }

    #package-info #title {
        font-size: 1.5rem !important;
        margin: 0 auto !important;
    }

    #col-title {
        text-align: center !important;
    }
}